img{
    width:100%;
    height: auto;
    max-width: 400px;
}
.book-card{
    background: rgb(230, 230, 230);
    padding: 1.5em;
}
.img-container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.overlay1{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:#2196F3;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    margin: -.1em 0;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
       
    
}
.img-container1:hover .overlay1{
    visibility: visible;
    opacity: 1;
    overflow: scroll;
  }
  .library{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
      width: 70%;
      max-width: 1000px;
      
      margin: 0 auto;
      margin-top:4em;

  }
  .library-slot{
      display: flex;
      flex-direction: column;
      margin-left: 4em;
      margin-bottom: 2em;
      width:20%;
     
      transition: transform 0.2s;
    
  }
.img-container{
    position: relative;
    transition: transform 0.2s;
}
.img-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.img-container:hover .overlay{
    opacity: 1;
    overflow: hidden;
}

.overlay{
    position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
.img-container:hover .remove{
    opacity: 1;
}
.remove{
    position: absolute;
    top:0px;
    right:0px;
    opacity: 0;
    font-size: 12px;
}
.read{
    position: absolute;
}

  .book-title{
      text-align: center;
      font-weight: bold;
      margin-bottom: 0;
  }
  small{
      text-align: center;
      
  }
