@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');

body{
  
    background: rgb(235, 235, 235);
    font-family: Mukta, sans-serif;
   
}


.login-card{
    width:60%;
    max-width: 600px;
    display: flex;
    justify-content: center;
  
}
.lg-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/* .navbar{
    background: rgb(235, 235, 235);
} */
.btn{
    margin-right: 1em;
  
}
.inventory{
    color: #a4bfef;
}
.accent{
    background: cornflowerblue;
}
.light{
     background: rgb(231, 231, 231);
     color: cornflowerblue;
}
.inventory-container{
    min-height: 40vh;
    background:white;
    max-width: 1000px;
    margin:0 auto;
    display: none;
}
.add-btn{
    border: none;
    background: cornflowerblue;
    border-radius: 5px;
    color: white;
}
.center{
    text-align: center;
}
.table-btn{
    border:none;
   width: 100%;
}
.table-btn:hover{
    background: rgba(100, 148, 237, 0.486);
}
.table{
    text-align: center;
}
.toggle-container{
    display: flex;
    justify-content: space-between;
}
.page-box{
    width: 60%;
}
@media (max-width: 600px){
    .page-box{
        width:90%;
    }
}
.card-head{
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
    
}

.title{
    font-size: 1.3rem;
    font-weight: bold;
    color: transparent;
}
.danger{
    border: none;
    background: transparent;
    position: relative;
    border: 2px solid cornflowerblue;
    border-radius: 25px;
    font-size: 10px;
    color: cornflowerblue;
    top:5px;
    
}
.name-btn{
    position: absolute;
    left:45px;
}

.count-container{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
.input-control{
    display: flex;
    width: 20%;
    min-width: 120px;
    align-self: flex-end;
    
}
.btn-margin{
    margin-right: 0;
}
.form-btns{
    border:none;
    border-radius: 25px;
    width: 40px;
    background: cornflowerblue;
   position: relative;
   right:-8px;
}
.form-btns:hover{
    background: rgb(60, 122, 238);
    border:none;
}
.text{
    width: 60%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}